@import "mixins.scss";

#main-wrap {
  width: 100%;
  height: auto;
  margin: 2rem 0;
  .sb-menu .sb-menu-item {
    height: 30px;
    padding: 0;
    line-height: 30px;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: rgba(0,0,0,.3);
      @include transition();
    }
    &.selected a,&:hover a {
      color: #000;
      text-decoration: none;
    }
  }
  .pro-filter-bar {
    height: 50px;
    .filter-menu {
      float: right;
      width: 140px;
      min-width: 0;
      margin-right: 20px;
    }
  }
}

#product-showcase {
  .total-num {
    float: left;
    display: inline-block;
  }
  .sequence-menu {
    float: right;
    right: 0;
    display: inline-block;
  }
  .page-bar {
    float: left;
    margin-left: 20px;
    .page-item {
      padding: 0;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 38px;
        text-align: center;
        @include transition();
        &:hover {
          color: #000;
        }
      }
      &.selected a {
        @extend a:hover;
      }
    }
  }
}

#tb-btn {
  display: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

#search-wrap {
  .filter-menu {
    float: right;
    margin-right: 20px;
  }
  .pro-filter-bar {
    height: 50px;
    .filter-menu {
      float: right;
      width: 140px;
      min-width: 0;
      margin-right:  20px;
    }
  }
  .segment {
    height: 300px;
    padding-top: 80px;
    border: none;
    box-shadow: none;
  }
}