#login-wrap {
  margin-bottom: 4rem;
}

#join-container {
  margin-bottom:  4rem;
  .header.sub {
    margin-top: 1rem;
  }
}

#checkout-controller.login-form,
#login.login-form,
.login-form {
  display: inline-block;
  width: 280px;
  .header .header.sub {
    margin-top: 1rem;
  }
  .form a {
    margin-left: 1rem;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: rgba(0,0,0,.6);
    }
  }
}

.new-customer {
  display: inline-block;
  width: 290px;
  .header .header.sub {
    margin-top: 1rem;
  }
  .join-us-btn {
    display: inline-block;
    width: 18rem;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    &:hover, &:focus {
      color: rgba(0,0,0,.6);
      border: 2px solid rgba(0,0,0,.6);
      text-decoration: none;
    }
  }
}

.sign-out {
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(0,0,0,1.0);
  margin: 2rem;
  padding: 5px 10px;
  cursor: pointer;
}